<div class="homepage-content-text-div">
    <section class="section-main-title">
        <h1>Welcome to The Game Shop</h1>
        <h3>We prepared a lot of goodies for you to check out</h3>
    </section>
    <section class="section-introduction">
        <h2>What is Game Shop?</h2>
        <h3>A sandbox for tracking products by categories and catalog.</h3>
    </section>
    <section class="section-ruleset">
        <h2>What can you do?</h2>
        <ul>
            <li>
                <svg class="ruleset-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 32 32">
                    <g>
                        <g fill="orange">
                            <g>
                                <path d="M14.704,19.997c0.114,0.114,0.174,0.269,0.156,0.426c-0.072,0.623-0.42,2.308-2.106,3.994
                                    c-1.062,1.062-4.244-2.12-6.367,0.003c-2.539,2.539,1.235-5.789,6.119-6.352c0.157-0.018,0.312,0.042,0.426,0.156L14.704,19.997z
                                "></path>
                            </g>
                            <g>
                                <path d="M14.704,19.997c0.114,0.114,0.174,0.269,0.156,0.426c-0.072,0.623-0.42,2.308-2.106,3.994
                                c-1.062,1.062-4.244-2.12-6.367,0.003c-2.539,2.539,1.235-5.789,6.119-6.352c0.157-0.018,0.312,0.042,0.426,0.156L14.704,19.997z
                                "></path>
                            </g>
                        </g>
                        <path fill="brown" d="M15.566,19.444l-2.081-2.081c-0.203-0.203-0.194-0.535,0.02-0.726L26.193,5.284
                        c0.198-0.177,0.499-0.169,0.687,0.019l0.745,0.745c0.188,0.188,0.196,0.489,0.019,0.687L16.292,19.424
                        C16.1,19.638,15.769,19.647,15.566,19.444z"></path>
                    </g>
                </svg>
                <h3>Create any game, genre or developer you want</h3>
            </li>

            <li>
                <svg class="ruleset-svg" fill="#000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 24 24">
                    <g id="catalog">
                        <g>
                            <path d="M12,23.3L0,20V3l4,1V1l8,2.3L20,1v3l4-1v17L12,23.3z M2,18.5l10,2.8l10-2.7v-13l-2,0.5v11l-8,2.2L4,17V6L2,5.5V18.5z
                                M13,5.1V17l5-1.4v-12L13,5.1z M6,15.5l5,1.4V5.1L6,3.7V15.5z"></path>
                        </g>
                    </g>
                </svg>
                <h3>Browse the current catalog</h3>
            </li>

            <li>
                <svg class="ruleset-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M6 21L5.81092 17.9747C5.37149 10.9438 10.9554 5 18 5V5L16.7827 5.97387C14.3918 7.88656 13 10.7824 13 13.8442V13.8442C13 15.9831 11.0278 17.5774 8.93642 17.1292L6 16.5" stroke="#fff" stroke-width="2"></path>
                </svg>
                <h3>Update any game, genre or dev you want*</h3>  
            </li>

            <li>
                <svg class="ruleset-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                    <path d="M154 260h568v700H154z" fill="#1e90ff"></path>
                    <path d="M624.428 261.076v485.956c0 57.379-46.737 103.894-104.391 103.894h-362.56v107.246h566.815V261.076h-99.864z" fill="#030504"></path>
                    <path d="M320.5 870.07c-8.218 0-14.5-6.664-14.5-14.883V438.474c0-8.218 6.282-14.883 14.5-14.883s14.5 6.664 14.5 14.883v416.713c0 8.219-6.282 14.883-14.5 14.883zM543.5 870.07c-8.218 0-14.5-6.664-14.5-14.883V438.474c0-8.218 6.282-14.883 14.5-14.883s14.5 6.664 14.5 14.883v416.713c0 8.219-6.282 14.883-14.5 14.883z" fill="#152B3C"></path>
                    <path d="M721.185 345.717v-84.641H164.437z" fill="#030504"></path>
                    <path d="M633.596 235.166l-228.054-71.773 31.55-99.3 228.055 71.773z" fill="#FF3B30"></path>
                    <path d="M847.401 324.783c-2.223 0-4.475-0.333-6.706-1.034L185.038 117.401c-11.765-3.703-18.298-16.239-14.592-27.996 3.706-11.766 16.241-18.288 27.993-14.595l655.656 206.346c11.766 3.703 18.298 16.239 14.592 27.996-2.995 9.531-11.795 15.631-21.286 15.631z" fill="#FF3B30"></path>
                </svg>
                <h3>Delete any game, genre or dev you want*</h3>  
            </li>
        </ul>
        <h5>*default games, genres and developers cannot be modified</h5>
    </section>
</div>